@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Galada&display=swap&family=Noto+Serif:ital,wght@1,700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
ul,ol,dl{
    margin-bottom: 0;
}
a{
    color: #f3f3f3;
    text-decoration: none;
}
.hr-short{
    width: 10%;
    margin: .3em auto .8em;
    border: 1.5px solid #ccc;    
}
.midhr{
    width: 90%;
    margin: 1em auto 1em;
    border: .5px solid #E5C282;
}
.smallhr,#navbar,label,.divbar li ul{
    display: none;
}

/*header*/
header{
    text-align: center;
    position: relative;
    width: 100%;
}
.site_navbar{
    display: flex;
    justify-content: center;
    background: #000;
    color: #f3f3f3;
    font-family: 'Galada', cursive; 
}
.divbar ul{
    display: flex;
    font-size: 20px;
}
.divbar ul li{
    margin: auto;
    padding: 6px 12px;
}
label{
    position: absolute;
    right: 0;
    border: 1px solid rgba(255,255,255,.6);
    height: 5vh;
    width: 10%;
    font-size: 24px;
    margin-bottom: 0;
    padding: 6px;
    z-index: 999;
}
.title{
    height: 30vh;
    color: #E8DDCC;
    background: #550121;
    font-family: 'Aclonica', sans-serif;
}
.title h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: -4px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.divbar ul a:hover{
    color: #aaa;
    text-decoration: none;
    transition: .5s;
}

/*main*/
.main{
    font-family: 'Noto Serif', serif;
    text-align: center;
    width: 100%;
    color: #7A674E;
    background: #FBEDD5;
}
.loc{
    font-size: 14px;
    font-weight: lighter;
}
.map{
    width: 600px;
    height: 400px;
    margin: 0 auto 2em;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}
.input_content{
    margin: 3px auto;  
}
p{
    font-size: 12px;
    font-weight: normal;
    margin: auto 0;
}
textarea{
    display: block;
    margin: auto;
} 
::placeholder{
    color: rgba(0,0,0,.3);
}
.btn{
    margin: 6px 0;
}
#r1:checked~.ps1,#r2:checked~.ps2{
    color: red;
    font-size: 20px;
}

/*footer*/
footer{
    width: 100%;
    color: #f3f3f3;
    background: #000;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 2em;
    font-family: 'Noto Serif', serif;
}
.logo{
    margin: 0 auto 1em;
    width: 7%;
    background: #fff;
    border-radius: 5px;
}
.fab{
    margin: 6px;
    font-size: 24px;
}
.copyright{
    font-size: 18px;
}

@media screen and (max-width:1200px){
    .logo img{
        width: 80%;
    }
    .menu-txt p{
       font-size: 14px;
       margin: 0;
    }
}
@media screen and (max-width:990px){
    .title{
        height: 15vh;
    }
    .title h1{
        font-size: 3em;
    }
}


@media screen and (max-width:768px){
    .container{
        max-width: 768px;
        width: 100%;
    }
    .site_navbar{
        height: 5vh;
        width: 100%;
    }
    .site_navbar ul,.site_navbar ul li{
        flex-flow: row wrap;          
    }
    label{
        display: block;
    }
    .divbar{
        display: none;
        width: 100%;
        z-index: 999;
    }
    .site_navbar ul li{
        background: #000;
        border-bottom: 1px solid #fff;
        margin-left: 0;
        width: 90%;
    }
    #navbar:checked~.divbar{
        display: block;
        position: absolute;
        animation: all .5s;
    }
    .about-ul li{
        display: none;
    }

    @keyframes all {
        from{
            top:-300px
        }
        to{
            top: 0;
        }
    }
    
}
@media screen and (max-width:600px){
    .container{
        width: 100%;
    }
    .map{
        width: 80%;
    }
}
@media screen and (max-width:400px){
    .title h1{
        font-size: 30px;
    }
    textarea{
        width: 60%;
    }
}